.login-container {
  display: flex;
  flex-direction: column;
  margin: 10vh auto ;

  .title {
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding-top: 30px;
  }

  .text {
    font-weight: 600;
    padding: 15px 0 ;
  }

  input {
    width: 100%;
    padding: 12px 7px;
    outline: none;
    background: #1618230f;
    border: #1618230f;
    border-radius: 5px;
    margin-bottom: 7px;

    &:hover {
      background: #dedede;
    }
  }

  .input-password {
    position: relative;
    i {
      position: absolute;
      top: 70px;
      right: 10px;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;

    &.active {
      background: #fe2c55;
      color: white;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .back-home {
    opacity: 0.5;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
  }
}